body {
  padding: 0;
  margin: 0;
}
.rooms {
  height: 100vh;
  width: 30%;
  background-color: #bcbcbc;
  position: fixed;
  top: 0;
  left: 0;
}
.messages {
  height: 100vh;
  width: 70%;
  background-color: #fff;
  position: fixed;
  top: 0;
  right: 0;
}

.navbar {
  margin-left: 2rem;
}

.room {
  padding: 1rem 0;
  padding-left: 2rem;
  margin: 0 0 0 -2rem;
}

.close {
  font-size: 0;
}

.modal-body {
  text-align: center;
}

.center {
  margin: 0 auto;
}

.activeRoom {
  padding: 1rem 0;
  padding-left: 2rem;
  margin: 0 0 0 -2rem;
  background-color: rgba(55, 185, 45, .5);
  cursor: default;
}

.btn.disabled, .btn[disabled] {
  border-color: grey;
  background-color: gray;
  opacity: .45;
}

.activeRoom:hover .close {
  opacity: 0.7;
  text-shadow: rgb(255,0,0) 1px 0 10px;
  font-size: 21px;
}

.modal-body form h4 p {
  padding-top: 2em;
}

.room:hover {
  background-color: lightgray;
  cursor: pointer;
}

.room:hover .close {
  opacity: 0.7;
  text-shadow: rgb(255,0,0) 1px 0 10px;
  font-size: 21px;
}

.deleting:hover {
  background-color: rgba(187, 38, 38, 0.5);
  box-shadow: 0 0 3px 2px rgba(187, 38, 38, 0.5);
  color: white;
}

#roomAddDel {
  padding-bottom: 2rem;
}

#deleteWhich {
  font-style: italic;
  color: red;
  text-align: center;
  padding-bottom: 1em;
}

uib-btn-checkbox:checked {
  border: 3px solid yellow;
}
