<div>
  <div class="modal-header">
    <h2 class="modal-title">Create a new room</h2>
  </div>
  <div class="modal-body">
    <h4>Enter a room name: </h4>
    <form ng-submit="modal.ok()">
      <div class="input-group animated fadeIn center">
        <input type="text" class="form-control finderBar" ng-model="modal.name" title="name" placeholder="Room Name" autofocus>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="modal.ok()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="modal.cancel()">Cancel</button>
  </div>
</div>
