<section class="rooms">
  <div class="navbar">
    <h1>Basic Chat</h1>
    <div ng-controller="ModalCtrl as modals" id="roomAddDel">
      <a type="button" class="btn btn-primary" ng-disabled="home.Deleting" ng-click="home.Deleting || modals.open('sm')">New Room</a>
    <!--  TODO - Complete Delete function to also delete messages associated with the deleted room. -->
      <a type="button" class="btn btn-danger" ng-model="home.Deleting" uib-btn-checkbox id="btnDelete">Delete Room</a>

    </div>
    <span ng-show="home.Deleting" id="deleteWhich">Delete which room...</span>
    <span ng-repeat="room in home.rooms">
      <h4 ng-class="{deleting : home.Deleting, activeRoom : activeRoom == room, room : activeRoom != room}" ng-click="home.processClick(room)">
        {{ room.$value }}
        <span class="close" ng-show="home.Deleting" aria-label="Click to Delete">Click To Delete</span>
      </h4>
    </span>
  </div>
</section>
<section class="messages">
  <div class="container">
    <header id="roomName">
      <h2>Chatting In {{ activeRoom.$value }}</h2>
    </header>
    <table class="table">
      <tr ng-repeat="message in messages track by $index" class="row" ng-class="{oddRow: $odd}">
        <td class="message">
          <span class="username">{{ message.username }}</span>  <span class="label label-danger" ng-show="message.username == 'SuperUser'">Admin</span>
          <p>{{ message.content }}</p>
        </td>
        <td class="timeStamp">
          {{ home.toLocalTime(message.sentAt) }}
        </td>
      </tr>
    </table>
  </div>
</section>
<section class="input">
  <div class="message-bar">
      <form ng-submit="home.send(home.message, activeRoom)">
          <div class="input-group input-group-lg animated">
              <input id="msgInputBox" type="text" class="form-control finderBar" ng-model="home.message" placeholder="Write your message here..." autofocus>
              <span class="input-group-btn">
                  <button class="btn btn-default" type="submit">Send</button>
              </span>
          </div>
      </form>
  </div>
</section>
